body {
    background-color: blue;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}
/* create a snowman with a carrot nose and two eyes made out of coal */
.snowman {
    background-color: #ffffff;
    border-radius: 50%;
    height: 200px;
    margin: 0 auto;
    position: relative;
    width: 200px;
}
/* create the carrot nose */
.nose {
    background-color: #ff9900;
    border-radius: 50%;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}
/* create the coal eyes */
.eye {
    background-color: #000000;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}
